.load-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.quickActionBox {
    width: 100%;
    border: 1px solid #273272;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 200px;
    font-size: 1rem;
    margin: 1rem 0;
    color: #273272;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 1.5rem;
    min-width: 374px;
}

.quickActionBox:hover {
    box-shadow: inset 576px 0 0 0 #273272;
    color: white;
    transition: .3s;
}

.quickActionBox .icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7rem;
    font-weight: 600;
}

.quickActionBox svg {
    margin-right: 0.7rem;
}

.quickActionBox .title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
}

.quickActionBox .title:hover {
    text-decoration: underline;
}

.clientContent,
.adminContent {
    padding: 4rem 8rem;
}

.clientContent h1,
.adminContent h1 {
    color: #273272;
}

.clientContent a,
.adminContent a {
    width: 45%;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;
}

.quickActionBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1060px) {
    .quickActionBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .clientContent a,
    .adminContent a {
        width: 100%;
    }

    .quickActionBox:hover {
        box-shadow: inset 760px 0 0 0 #273272;
        color: white;
        transition: .3s;
    }
}

@media screen and (max-width: 640px) {

    .clientContent,
    .adminContent {
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 570px) {

    .clientContent,
    .adminContent {
        padding: 4rem 4rem;
    }
}

@media screen and (max-width: 510px) {

    .clientContent,
    .adminContent {
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 440px) {

    .clientContent,
    .adminContent {
        padding: 4rem 1rem;
    }

    .quickActionBox {
        min-width: 300px;
    }
}