.form {
    width: 35%;
    height: 80%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;
}

.form_model {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
    gap: 1.5rem;
}

.form_header {
    color: #000;
    background-color: rgb(249, 249, 103);
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    font-weight: bold;
}


#form_submit {
    width: 50%;
    padding: 0.7rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: deeppink;
    color: #fff;
}

.form_input_fields {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.form_input_fields input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
    font-size: 1.3rem;
    border-radius: 2rem;
}

.category_box,
.availability_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}

.category_box select,
.availability_box select {
    font-size: 1.3rem;
    padding: 0.4rem 2rem;
    border-radius: 10px;
    border: none;
}

.form_input_fields textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 2rem;
    padding: 1rem;
    border: 1px solid #000;
    font-size: 1.2rem;
    outline: none;
}

.form_input_fields textarea::-webkit-scrollbar {
    display: none;
}

@media (max-width:576px) {
    .form {
        width: 95%;
        padding: 0.5rem;
    }

    .category_box,
    .availability_box {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
}

@media (max-width:700px) {
    .form {
        width: 90% !important;
    }


}

@media (max-width:990px) {
    .form {
        width: 60%;
    }
}

@media (max-width:1200px) {
    .form {
        width: 60%;
    }
}