html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #115c8d;
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav img {
  margin: .5rem 1.5rem;
}

nav .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

nav .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.3rem;
  width: 50%;
}

nav .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: .3rem;
  display: none;
  margin: 1rem 3rem;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav .right li {
  display: inline-block;
  padding: 0 1rem;
}

nav .menu {
  display: none;
  width: 100%;
  text-align: left;
}

nav .menu ul {
  padding: 0 1rem;
}

nav .menu li {
  font-size: 1rem;
  border-radius: 5px;
  background-color: #2374aa;
  padding: .5rem;
  margin: .3rem 0;
}

nav .menu li:hover {
  background-color: #3fa4e7;
}

.featureBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 218px;
  max-width: 320px;
  height: 215px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.featureBox:hover {
  background-color: #273272;
  color: white;
}

.featureBox:hover .featureTitle {
  color: white;
}

.hoverBox {
  background-color: #273272;
  color: white !important;
}

.hoverSvg {
  color: white;
}

.hoverHeader {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  width: fit-content;
}

.featureBox .header {
  color: #273272;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  width: fit-content;
  margin-top: 1rem;
}

.featureBox .featureDescription {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
}

.featureDescription:hover,
.featureTitle:hover {
  text-decoration: underline;
  color: white;
}

.featuresBlock {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
}

.titleContent h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  color: #273272;
  font-weight: 600;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContent {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5rem;
}

.titleContent hr {
  border: 2px solid #273272;
  width: 60px;
  margin-left: .2rem;

}

.titleContent hr:hover {
  width: 260px;
  transition: .8s;
}

.titleContent button {
  border: 1px solid #273272;
  background-color: white;
  color: #273272;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.titleContent button:hover,
.titleContent button:focus {
  box-shadow: inset 156.4px 0 0 0 #273272;
  color: white;
  transition: .3s;
  text-decoration: underline;
}

.titleDes {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}

footer {
  background: url("http://cvitanic.info/wp-content/uploads/2016/05/background-main.jpg") center no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  padding: 3.5rem 0;
}

.contactUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 34%;
}

.contactUs input,
.contactUs textarea {
  color: black;
  border: none;
  padding: 1rem;
  background-color: #c9d3da;
  width: 70%;
  margin: 0.5rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  border-radius: 5px;
}

.contactUs textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: .97rem;
}

.contactUs .message {
  height: 60px;
}

.contactUs button {
  background-color: #273272;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUs button:hover {
  background-color: #4855a1;
}

.contactUs svg {
  margin-right: 0.5rem;
}

.contactUs label {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 0 1rem;
}

.about .logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  margin-bottom: .5rem;
}

.about .footerDes {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 0 1.2rem;
}

.about .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.about .number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .4rem;
}

.number:hover,
.mail:hover {
  color: #273272;
}

.about svg {
  margin: 0 0.4rem;
}

.about .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .4rem;
}

.follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.follow span {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 2rem;
  margin: 0 0.4rem;
}

.facebook:hover {
  border: 1px solid #4269be;
  background-color: #4269be;
}

.instagram:hover {
  border: 1px solid #bc2a8d;
  background-color: #bc2a8d;
}

.twitter:hover {
  border: 1px solid #55ACEE;
  background-color: #55ACEE;
}

.youtube:hover {
  border: 1px solid #bb0000;
  background-color: #bb0000;
}

.quickLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quickLinks .linksTitle {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.quickLinks ul {
  list-style: none;
}

.quickLinks li {
  color: white;
  font-size: 1rem;
  padding: .5rem;
}

.quickLinks li:hover {
  color: #273272;
}

.imageSection {
  background: url(https://www.ookla.com/s/media/2022/01/5g-report-hubspot-header-1200x400.png) center no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 4rem;
}

.imageSection span {
  text-align: center;
}


/*                  ***********************************MEDIA QUERIES**************************************                */

@media screen and (max-width: 1291px) {
  .titleContent {
    padding-left: 3.5rem;
  }
}

@media screen and (max-width: 1232px) {
  .titleContent {
    padding-left: 5rem;
    width: 45%;
  }

  .featuresBlock {
    width: 55%;
  }

  .featureBox {
    max-width: 280px;
    height: 250px;
  }
}

@media screen and (max-width: 1160px) {
  .titleContent {
    padding-left: 3rem;
    width: 40%;
  }

  .featuresBlock {
    width: 60%;
  }

  .featureBox {
    max-width: 280px;
    height: 250px;
  }
}

@media screen and (max-width: 1095px) {
  nav .large-tabs {
    padding: 0;
  }

  .titleContent {
    padding-left: 1.5rem;
    padding-right: 0;
  }
}

nav .right li {
  padding: 0 .7rem;
}

@media screen and (max-width: 1042px) {
  .titleContent {
    padding-left: 1.5rem;
    width: 35%;
  }

  .featuresBlock {
    width: 65%;
  }

  .featureBox {
    max-width: 260px;
    height: 230px;
  }
}

@media screen and (max-width: 1000px) {
  .mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .titleContent {
    width: 100%;
    padding: 2rem 10rem;
  }

  .featuresBlock {
    width: 100%;
    padding: 2rem 7rem;
  }

  .featureBox {
    max-width: 330px;
    height: 215px;
  }

  footer {
    flex-direction: column;
    padding: 3rem 0;
  }

  .about {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .quickLinks {
    width: 100%;
    margin-top: 3rem;
  }

  .about .footerDes {
    padding: 0 2rem;
  }

  .follow {
    margin-top: 0.6rem;
  }

  .contactUs {
    width: 100%;
    margin-top: 3rem;
  }

  .contactUs input {
    width: 60%;
  }

}

@media screen and (max-width: 960px) {
  nav .hidden {
    display: none;
  }

  nav .large-tabs {
    display: none;
  }

  nav .visible {
    display: block;
  }

  nav .hamburger {
    display: flex;
  }

  .titleContent {
    width: 100%;
    padding: 2rem 8rem;
  }

  .featuresBlock {
    width: 100%;
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 890px) {
  .titleContent {
    width: 100%;
    padding: 2rem 4rem;
  }

  .featuresBlock {
    width: 100%;
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 790px) {
  .featureBox {
    max-width: 300px;
    height: 215px;
  }

  .titleContent {
    width: 100%;
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 730px) {
  .featureBox {
    max-width: 280px;
    height: 230px;
  }
}

@media screen and (max-width: 690px) {
  .featureBox {
    max-width: 240px;
    height: 215px;
  }
}

@media screen and (max-width:610px) {
  nav {
    font-size: 1.3rem;
  }

  nav .left {
    width: 80%;
  }

  nav img {
    margin: .5rem 1rem;
  }

  nav .right {
    width: 20%;
  }

  nav .hamburger {
    padding: 0.2rem;
    margin: 1rem 1rem;
  }

  .featureBox {
    max-width: 100%;
    width: 100%;
    height: 215px;
    margin: 1rem 2rem;
  }

  .featuresBlock {
    width: 100%;
    padding: 2rem 0rem;
  }

  .titleContent {
    width: 100%;
    padding: 2rem 2rem;
  }

  .about .footerDes {
    padding: 0 .6rem;
  }

  .imageSection {
    font-size: 1.8rem;
  }
}

@media screen and (max-width:400px) {
  nav .left {
    width: 80%;
  }

  nav img {
    margin: .5rem .8rem;
  }

  nav .right {
    width: 20%;
  }

  nav .hamburger {
    padding: 0.1rem;
  }

  .titleContent {
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .about .footerDes {
    padding: 0 0.2rem;
  }

  .imageSection {
    font-size: 1.9rem;
  }
}