.load-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginContainer,
.registerContainer,
.complaintContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 4rem;
}

.registerContainer {
    padding: 3rem 4rem;
}

.login,
.register_box,
.complaint_box {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 100vh;
    min-height: 530px;
    max-height: 530px;
}

.complaint_box {
    width: 60%;
    min-height: 900px;
}

.register_box {
    min-height: 620px;
}

.category_box,
.availability_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.category_box label,
.availability_box label {
    font-size: 1.2rem;
    color: #273272;
    font-weight: 600;
}

.form_input_fields textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #273272;
    font-size: 1.2rem;
    outline: none;
}

.form_input_fields textarea::-webkit-scrollbar {
    display: none;
}

.form_submit {
    padding: 1rem 2rem;
    border: none;
    color: white;
    background-color: #273272;
    font-size: 1rem;
    border-radius: 5px;
    width: 30%;
    margin: 1rem auto;
}

.login .left,
.register_box .left {
    background: url(../../Assets/login_background.jpg) no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;
    width: 50%;
    height: 100vh;
    max-height: 530px;
    min-height: 530px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.register_box .left {
    min-height: 620px;
}

.login .right,
.register_box .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_login {
    display: flex;
    gap: 1rem;
    justify-self: flex-start;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}

.register_btn {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    form {
        padding: 0rem 3rem;
    }

    .loginContainer,
    .registerContainer {
        padding: 4rem;
    }

    .login .left,
    .register_box .left {
        font-size: 1.3rem;
    }

    .complaint_box {
        width: 70%;
    }
}

@media screen and (max-width: 990px) {
    form {
        padding: 0rem 2rem;
    }

    .loginContainer,
    .registerContainer {
        padding: 4rem;
    }

    .login {
        max-height: 500px;
    }

    .login .left {
        font-size: 1.1rem;
        max-height: 500px;
    }

    .login .right {
        max-height: 500px;
    }
}

@media screen and (max-width: 900px) {
    form {
        padding: 0 3rem;
    }

    .login,
    .register_box {
        width: 80%;
    }

    .login .left,
    .register_box .left {
        display: none;
    }

    .login .right,
    .register_box .right {
        width: 100%;
    }

    .complaint_box {
        width: 80%;
    }
}

@media screen and (max-width: 790px) {

    .loginContainer,
    .loginContainer {
        padding: 3rem 1.5rem;
    }

    .complaint_box {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {

    .loginContainer,
    .registerContainer {
        padding: 3rem .5rem;
    }

    .complaint_box {
        width: 100%;
        box-shadow: none;
    }

    .complaintContainer {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 550px) {
    form {
        padding: 0 2rem;
    }

    .login {
        height: 100%;
        width: 85%;
    }

    .loginContainer,
    .registerContainer {
        padding: 3rem 0rem;
    }

    .register_box {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .complaint_box {
        width: 100%;
        height: 100%;
        box-shadow: none
    }

    .complaintContainer {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 450px) {
    form {
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 380px) {

    .login,
    .register_box {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .loginContainer {
        padding: 0;
    }
}