.register_box {
    width: 70%;
    height: 80%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    border-radius: 2rem;
}

.register_left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.register_left h2 {
    font-size: 3.5rem;
    margin: 0;
}

.register_left p {
    font-size: 1.5rem;
    margin: 0;
}

.register_header {
    font-size: 2.5rem;
    font-weight: bolder;
    justify-self: flex-start;
}

.register_left {
    background-image: url(../../Assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    flex-basis: 50%;
}

.register_right {
    flex-basis: 50%;
    background-color: #f5f2f2;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_model {
    overflow: hidden;
    width: 75%;
    height: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.register_input_fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.register_input_box {
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #000;
    gap: 1rem;
    background-color: #fff;
    align-items: baseline;
}

.register_input_box input {
    width: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding: 0;
}

.back_login {
    display: flex;
    gap: 1rem;
    justify-self: flex-start;
    width: 100%;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 0.7rem;
}

.register_btn {
    width: 100%;
    padding: 0.8rem;
    border: none;
    outline: none;
    background-color: deeppink;
    color: #fff;
    border-radius: 2rem;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.reg_sub_btn {
    width: 100%;
}

@media (max-width:576px) {
    .register_box {
        width: 90%;
        height: fit-content !important;
        float: top;
    }

    .register_model {
        padding: 2rem;

    }
}

@media (max-width:990px) {

    .register_left {
        display: none;
    }

    .register_right {
        flex-basis: 100%;
        border-radius: 2rem;
        height: 100%;
    }

    .register_model {
        width: 80%;

    }

    .input_fields {
        width: 100%;
    }
}

@media (max-width:1200px) {

    .register_right {
        height: 100%;
    }

    .register_model {
        padding: 2rem;
    }

    .register_btn {
        margin: 0;
    }
}